<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<!--Pre-producción EF sybase-->
		<add name="GenteMarContextTesting"
		connectionString="3lx6Eos4oeKqeR7InweaEr19SAJ96PNEP5fhKvLJ1/mP2/stRjZdfWnXTJgTNSfl3c0SxbaT1TKOSaQm2TT+EGfojyD7k+QJnrvS5kOK0oRd1hGV5b8V1GRnGkN4DE+teXszGo5iDWu5eNojKg71r4h05p90Tau8QpSv02aen1+Dd4LjR6PlAwXsmk8dnNeu9W0K5MFslsTjNRkG/+5ciHoezOrFHH8A70UTVxENFmIOZI96nQKiUJbCcQpiijfK"
		providerName="Sap.Data.SQLAnywhere"
		xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		/>
	</connectionStrings>

	<appSettings>
		<!-- Define el entorno = 0: Pruebas, 1: Pre-Producción, 2: Producción -->
		<add key="Environment" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- Url DIMAR Frontend -->
		<add key="WebSite_Frontend" value="http://btaappn-pre02.dimar.mil.co/GDM/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Url DIMAR API -->
		<add key="WebSite_API" value="http://btaappn-pre02.dimar.mil.co:8090/Api_Gdm/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Url SGDEA Repositorio de las previstas -->
		<add key="UrlSGDA" value="\\172.25.1.2\pre" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>
