<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!--Producción EF sybase-->
		<add name="GenteMarContextProduction"
		 connectionString="3lx6Eos4oeKqeR7InweaEr19SAJ96PNEP5fhKvLJ1/mP2/stRjZdfWnXTJgTNSfl3c0SxbaT1TKOSaQm2TT+EGfojyD7k+QJnrvS5kOK0oRd1hGV5b8V1GRnGkN4DE+teXszGo5iDWu5eNojKg71rwcCmm/D7nQaxOrPhd5GGMHGWsd8a+Kp6xMd60fYkMX7XS1FkV9PNLxG5W35V5hm2z43hEnf6FU/2PyHU75j0X0AjVHBvRVzsqfgXlGO6GY1"
		 providerName="Sap.Data.SQLAnywhere"
		xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		/>
	</connectionStrings>

	<appSettings>
		<!-- Define el entorno = 0: Pruebas, 1: Pre-Producción, 2: Producción -->
		<add key="Environment" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--Llave JWT_SECRET_KEY -->
		<add key="JWT_SECRET_KEY" value="SdGj7$ng!DsKj$qPJ^aWKiw2M%pJn2nJZvw38*p3WVYJwBGnB%!j@!!#s%QfmnRuh9^vbyYzuMUWMVcEZnZe9sNT%7mjYivwqgg73xtBcaW!mHhEWB^xw%vT2nR9bM^N" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Llave encriptacion de passwords-->
		<add key="NameHash" value="*rZ8}P#L]|)W[-Q" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Ruta de archivos -->
		<add key="PathFiles" value="RepositorioArchivos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Url DIMAR Frontend -->
		<add key="WebSite_Frontend" value="https://aplicaciones.dimar.mil.co/gdm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Url DIMAR API -->
		<add key="WebSite_API" value="https://aplicaciones.dimar.mil.co/gdm_api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Llave encriptacion KEY-->
		<add key="EncryptKeyRequest" value="$/Dj25BD$39g2Hq5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Llave encriptacion IV-->
		<add key="EncryptIVRequest" value="G@Le6#7f^258B9Q@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Url SGDEA Repositorio de las previstas -->
		<add key="UrlSGDA" value="\\172.25.1.2\pro" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
    -->
	</system.web>
</configuration>
