<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>DIMARCore.Api.Pruebas</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <DateTimeNow>$([System.DateTime]::Now.ToString("yyyyMMdd_HHmm"))</DateTimeNow>
    <PublishUrl>\\172.25.1.58\Fuentes\GDM\pre-production\$(DateTimeNow)\gdm.api.preproduccion</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
  </PropertyGroup>
  <Target Name="BeforePublish">
    <Message Text="Publishing to folder \\172.25.1.58\Fuentes\GDM\$(DateTimeNow)\pre-production\gdm.api.preproduccion" Importance="high" />
  </Target>
</Project>